.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-primary,
.bg-warning,
.bg-danger,
.bg-info {
  border: none;
  margin-right: 3px;
}
.fa-edit:before,
.fa-user:before,
.fa-trash:before,
.fa-eye:before {
  color: #fff;
}
.btn {
  margin-right: 3px;
}
button .nav-link {
  padding: 0px !important;
}
button .nav-link span {
  color: #fff;
  margin: 0 5px 0 5px;
  font-size: 15px;
}
